<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.das_entregagrupal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="Bichötes: Conecta 4"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        android:usesCleartextTraffic="true">
        <activity android:name=".Complementos.Personalizacion"></activity>
        <activity android:name=".Complementos.Ayuda" />
        <activity android:name=".Complementos.Opciones" />
        <activity android:name=".Principal.MenuPrincipal" />
        <activity android:name=".GestionDeUsuarios.Registro" />
        <activity android:name=".GestionDeUsuarios.RegistroFoto" />
        <activity android:name=".GestionDeUsuarios.InicioSesion" />
        <activity android:name=".Principal.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>